<html>
	<head>
		<title> Just an empty page on Webserver: {{ ansible_nodename }} </title>
	</head>

	<body>
		<h1> This is only a test web page on webserver: {{ ansible_nodename }}</h1>
	</body>

</html>
